<!DOCTYPE html>
<html>
<head>
    <title>O autorach</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>O autorach</h1>

    <p>Tekst generalny</p>

    <h2>Jagoda Płócienniczak</h2>
    <p>tekst1</p>

    <h2>Magdalena Ryś</h2>
    <p>tekst2</p>

    <h2>Alicja Górnik</h2>
    <p>tekst3</p>

    <h2>Magdalena Sudół</h2>
    <p>tekst4</p>

    <div class="container">
        <div class="button">
            <h3>
                <a href="/">Strona główna</a>
            </h3>
        </div>
    </div>
</body>
</html>
