<!DOCTYPE html>
<html>
<head>
    <title>Strona Matematyczna</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Pochodne funkcji jednej zmiennej</h1>
    <h2>Opis projektu</h2>
    <p>Jakiś ogólny opis o czym to wgl ma być</p>
    <div class="container">
        <div class="button">
            <h3>
                <a href="/project">Zagadnienie</a>
            </h3>
        </div>

        <div class="button">
            <h3>
                <a href="/demonstration">Demonstracja</a>
            </h3>
        </div>

        <div class="button">
            <h3>
                <a href="/authors">O autorach</a>
            </h3>
        </div>
    </div>

</body>
</html>
